<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{newProfile.name}}'s Profile Has Been Updated</title>
    <style>
      body { display: flex; align-items: center; justify-content: center;
      font-family: "Roboto","Helvetica","Arial",sans-serif; } .button { font:
      bold 0.875rem Arial; text-decoration: none; background-color: #33691E;
      color: #FFFFFF; padding: 2px 6px 2px 6px; border: 1px solid #33691E;
      border-radius: 5px; } .ii a[href] { color: #FFFFFF; } a { color: inherit;
      text-decoration: none; }
    </style>
  </head>
  <body>
    <h2>Profile Update</h2>
    <p>Hey <strong>{{newProfile.name}}</strong>, the address associated with you is listed as: </p>
    <p>
      <strong>
      {{newProfile.street}}, {{newProfile.city}} <br/>
      {{newProfile.state}}, {{newProfile.zipcode}}
      </strong> 
      <br/>
      <br/>
      And your phone number is: <strong>{{newProfile.phone}}</strong>.

    <p>This change was made by:
      <strong>{{admin.name}}</strong>.
      <br/>
      If this information is not correct, 
      <a href="{{loginUrl}}">click here to login</a>
      and update your information.
    </p>

    <h3>Schipke SpKuLeHaS Inc.</h3>
  </body>
</html>