<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome Email</title>
    <style>
      body { display: flex; align-items: center; justify-content: center;
      font-family: "Roboto","Helvetica","Arial",sans-serif; } .button { font:
      bold 0.875rem Arial; text-decoration: none; background-color: #33691E;
      color: #FFFFFF; padding: 2px 6px 2px 6px; border: 1px solid #33691E;
      border-radius: 5px; } .ii a[href] { color: #FFFFFF; } a { color: inherit;
      text-decoration: none; }
    </style>
  </head>
  <body>
    <h2>Welcome {{user.profile.name}}! </h2>
    <p>Hello,
      {{user.profile.name}}. Welcome to the SpKuLeHaS app! We have your email
      as:
      {{user.email}}</p>
    <p>Your password is: <strong>{{user.password}}</strong></p>
    <p>You can use this information to login
      <a href="{{loginUrl}}">here</a>
    </p>
    <p>or you can copy and paste the following url: {{loginUrl}}</p>
    <p><strong>Once you have logged in for the first time we recommend changing
        your password!</strong></p>
    <p>If you have any questions you can contact the admin at
      <a href="mailto:spkulehas@gmail.com">spkulehas@gmail.com</a>.</p>
    <p></p>
    <h3>Schipke SpKuLeHaS Inc.</h3>
  </body>
</html>